<nav class="grey darken-3">
    <div class="nav-wrapper container">
      
        <a href="#!" class="brand-logo center">StoryBooks</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"> <i class="fas fa-bars"></i> </a>
      <a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a>

      <ul class="sidenav" id="mobile-demo">
        <li> <a href="/stories">Public stories</a>  </li>
        <li> <a href="/dashboard">dashboard</a>  </li>
        <li> <a href="/auth/logout">logout</a>  </li>




      <!-- Dropdown Trigger -->
  </div>
      </ul>
    </div>
</nav>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>